<h3>About page</h3>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod debitis earum ut aliquid excepturi fugiat, impedit architecto quas iusto eos expedita accusantium quisquam pariatur! Voluptates ab itaque quam modi fuga?
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod debitis earum ut aliquid excepturi fugiat, impedit architecto quas iusto eos expedita accusantium quisquam pariatur! Voluptates ab itaque quam modi fuga?
</p>


<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/about/info-one">Info one</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  routerLink="/about/info-two">Info two</a>
    </li>
  </ul>

  <div>
      <router-outlet></router-outlet>
  </div>